# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Distribution / Build
client/build/
dist/

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Databases (NeDB and MongoDB)
server/data/*.db
server/data/db/
server/db_chats*.txt
server/db_chats*.json

# IDEs and Misc
.vscode/
.idea/
.DS_Store
*.swp
*.log

.vercel
.env*
